<!DOCTYPE html>

<html>
<head>
  <title>30 Reasons</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}display_one.css">
</head>

<body>
  <div class="header-container">
    <ul class="title-container">
      <li id="title">30 Reasons Why We're Happy You Got Married</li>
      <li id="from">From Jessica, Adam, Josh, Jasper, and Anne</li>
    </ul>
  </div>

  <div class="reason-container cf">
    <h3>{{ number }}. {{ page.title }}</h3>
    
    {% for medium in media %}
        {% if medium.media_type == "IMAGE" %}
        <span class="image">{{ medium.render }}</span>
        {% else %}
        {{ medium.render }}
        {% endif %}
    
    {% endfor %}
    
    <p>{{ page.text }}<p>
    {% if next_page %}
      <a href="{% url 'content.views.display_page' next_page.slug %}" class="button-next">Next Reason</a>    
    {% endif %}
    {% if previous_page %}
    <a href="{% url 'content.views.display_page' previous_page.slug %}" class="button-previous">Previous Reason</a>      
    {% endif %}
  </div>

</body>
</html>
